<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daken.project.mapper.RouterMapper">

    <resultMap id="BaseResultMap" type="com.daken.common.entity.Router">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="routerId" column="routerId" jdbcType="VARCHAR"/>
            <result property="filters" column="filters" jdbcType="VARCHAR"/>
            <result property="predicates" column="predicates" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="orderId" column="orderId" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,routerId,filters,
        predicates,url,orderId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
